# Lyft - US
## San Francisco Bay

## Final Project Ironhack Data Analytics Bootcamp

In [58]:
# import the packages
import pandas as pd
import numpy as np
# import haversine as hs  # didn't work
# import folium   # didn't use
import matplotlib.pyplot as plt
import seaborn as sns 
# from geopy.distance import vincenty  #it worked at Google Colab

In [56]:
# !pip install vincenty    # didn't work
# !pip install geopy       # didn't work

Collecting vincenty
  Downloading vincenty-0.1.4.tar.gz (2.8 kB)
Building wheels for collected packages: vincenty
  Building wheel for vincenty (setup.py) ... done
  Created wheel for vincenty: filename=vincenty-0.1.4-py3-none-any.whl size=3078 sha256=069bec3e6d256363694e4e729fa5e7f48828fdba5a23e0c9de80c0af60ef0721
  Stored in directory: /Users/kcondeixa/Library/Caches/pip/wheels/90/30/48/3351a4a3383a4b869c80caf348f89941c33b1f8ad593d0b439
Successfully built vincenty
Installing collected packages: vincenty
Successfully installed vincenty-0.1.4

In [30]:
# paths of the original datasets  
dez_2019 = 'data/lyft-USA/201912-baywheels-tripdata.csv'  
dez_2020 = 'data/lyft-USA/202012-baywheels-tripdata.csv'

In [31]:
# import original dataset 2019
df_dez_2019 = pd.read_csv(dez_2019)
df_dez_2019

/usr/local/Cellar/jupyterlab/3.0.7/libexec/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3155: DtypeWarning: Columns (13) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,duration_sec,start_time,end_time,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bike_id,user_type,rental_access_method
0,66600,2019-12-31 14:28:50.2860,2020-01-01 08:58:51.2500,364.0,China Basin St at 3rd St,37.772000,-122.389970,349.0,Howard St at Mary St,37.781010,-122.405666,12085,Customer,NaN
1,36526,2019-12-31 21:52:47.7620,2020-01-01 08:01:33.9320,38.0,The Embarcadero at Pier 38,37.782926,-122.387921,410.0,Illinois St at Cesar Chavez St,37.750200,-122.386567,9477,Customer,NaN
2,8164,2019-12-31 23:50:04.8770,2020-01-01 02:06:09.4140,14.0,Clay St at Battery St,37.795001,-122.399970,6.0,The Embarcadero at Sansome St,37.804770,-122.403234,10420,Customer,NaN
3,8163,2019-12-31 23:49:21.4000,2020-01-01 02:05:24.6670,14.0,Clay St at Battery St,37.795001,-122.399970,6.0,The Embarcadero at Sansome St,37.804770,-122.403234,2065,Customer,NaN
4,6847,2019-12-31 22:51:05.6850,2020-01-01 00:45:13.4860,3.0,Powell St BART Station (Market St at 4th St),37.786375,-122.404904,363.0,Salesforce Transit Center (Natoma St at 2nd St),37.787492,-122.398285,10219,Customer,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150097,731,2019-12-28 18:37:29,2019-12-28 18:49:40,NaN,NaN,37.809731,-122.409855,NaN,NaN,37.807573,-122.421681,719651,Subscriber,app
150098,748,2019-12-28 18:37:24,2019-12-28 18:49:53,NaN,NaN,37.809768,-122.409797,NaN,NaN,37.807558,-122.421638,655411,Subscriber,app
150099,1044,2019-12-26 14:25:37,2019-12-26 14:43:02,NaN,NaN,37.810183,-122.410271,NaN,NaN,37.807225,-122.408850,936881,Subscriber,app
150100,326,2019-12-30 20:35:43,2019-12-30 20:41:09,NaN,NaN,37.810471,-122.417386,NaN,NaN,37.803143,-122.414373,397539,Subscriber,app
150101,4023,2019-12-31 19:26:48,2019-12-31 20:33:52,NaN,NaN,37.811042,-122.418149,NaN,NaN,37.810970,-122.418054,662304,Subscriber,app

## Explore the original dataset of December 2019

In [32]:
df_dez_2019.shape

(150102, 14)

In [33]:
df_dez_2020= pd.read_csv(dez_2020)
df_dez_2020

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,3D9845E1B2804C08,electric_bike,2020-12-26 10:19:34,2020-12-26 10:22:27,NaN,NaN,NaN,NaN,37.770000,-122.450000,37.760000,-122.450000,member
1,F3DB8D3050725894,electric_bike,2020-12-06 12:28:33,2020-12-06 12:37:29,NaN,NaN,NaN,NaN,37.770000,-122.480000,37.770000,-122.450000,member
2,150C11B009DAD946,electric_bike,2020-12-15 09:35:57,2020-11-25 07:40:52,NaN,NaN,NaN,NaN,37.760000,-122.450000,37.780000,-122.420000,member
3,055A3F9E3CFAA764,electric_bike,2020-12-15 14:21:44,2020-12-15 14:32:55,NaN,NaN,NaN,NaN,37.790000,-122.420000,37.770000,-122.440000,member
4,77CB40EC8FEBC219,electric_bike,2020-12-08 13:05:29,2020-12-08 13:06:44,NaN,NaN,NaN,NaN,37.790000,-122.420000,37.790000,-122.420000,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106417,6CB07C6AFE6561BC,electric_bike,2020-12-28 07:19:19,2020-12-28 07:28:41,4th St at 16th St,SF-M30,Heron's Head Park,SF-V32,37.766976,-122.390798,37.740510,-122.376471,casual
106418,6EFCB11613F61FBC,electric_bike,2020-12-29 07:19:53,2020-12-29 07:31:16,4th St at 16th St,SF-M30,Heron's Head Park,SF-V32,37.766948,-122.390778,37.740531,-122.376482,casual
106419,D4DF4BFB58FF4834,electric_bike,2020-12-31 07:18:31,2020-12-31 07:28:16,4th St at 16th St,SF-M30,Heron's Head Park,SF-V32,37.766953,-122.390764,37.740469,-122.376532,casual
106420,BE4C1C553CD05D78,electric_bike,2020-12-18 07:11:10,2020-12-18 07:22:28,4th St at 16th St,SF-M30,Heron's Head Park,SF-V32,37.767099,-122.391054,37.740519,-122.376478,casual
106421,DBFEBC906EB8C857,electric_bike,2020-12-30 07:14:53,2020-12-30 07:25:47,4th St at 16th St,SF-M30,Heron's Head Park,SF-V32,37.766957,-122.390908,37.740578,-122.376466,casual

In [34]:
df_dez_2019.columns

Index(['duration_sec', 'start_time', 'end_time', 'start_station_id',
       'start_station_name', 'start_station_latitude',
       'start_station_longitude', 'end_station_id', 'end_station_name',
       'end_station_latitude', 'end_station_longitude', 'bike_id', 'user_type',
       'rental_access_method'],
      dtype='object')

In [35]:
df_dez_2019 = df_dez_2019.rename(columns={'start_time':'started_at', 
                                          'end_time':'ended_at', 
                                          'start_station_latitude':'start_lat',
                                          'start_station_longitude':'start_lng',
                                          'end_station_latitude':'end_lat',
                                          'end_station_longitude':'end_lng',
                                          'user_type':'member_casual'})

df_dez_2019 = df_dez_2019.drop('rental_access_method', 1)
df_dez_2019['ride_id']=''
df_dez_2019['rideable_type']=''
df_dez_2019 = df_dez_2019[['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual']]
df_dez_2019['member_casual'] = df_dez_2019['member_casual'].replace(['Customer'],'casual')
df_dez_2019['member_casual'] = df_dez_2019['member_casual'].replace(['Subscriber'],'member')

df_dez_2019['start_station_id'] = df_dez_2019['start_station_id'].astype(str)
df_dez_2019['end_station_id'] = df_dez_2019['end_station_id'].astype(str)


df_dez_2019

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,,,2019-12-31 14:28:50.2860,2020-01-01 08:58:51.2500,China Basin St at 3rd St,364.0,Howard St at Mary St,349.0,37.772000,-122.389970,37.781010,-122.405666,casual
1,,,2019-12-31 21:52:47.7620,2020-01-01 08:01:33.9320,The Embarcadero at Pier 38,38.0,Illinois St at Cesar Chavez St,410.0,37.782926,-122.387921,37.750200,-122.386567,casual
2,,,2019-12-31 23:50:04.8770,2020-01-01 02:06:09.4140,Clay St at Battery St,14.0,The Embarcadero at Sansome St,6.0,37.795001,-122.399970,37.804770,-122.403234,casual
3,,,2019-12-31 23:49:21.4000,2020-01-01 02:05:24.6670,Clay St at Battery St,14.0,The Embarcadero at Sansome St,6.0,37.795001,-122.399970,37.804770,-122.403234,casual
4,,,2019-12-31 22:51:05.6850,2020-01-01 00:45:13.4860,Powell St BART Station (Market St at 4th St),3.0,Salesforce Transit Center (Natoma St at 2nd St),363.0,37.786375,-122.404904,37.787492,-122.398285,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
150097,,,2019-12-28 18:37:29,2019-12-28 18:49:40,NaN,nan,NaN,nan,37.809731,-122.409855,37.807573,-122.421681,member
150098,,,2019-12-28 18:37:24,2019-12-28 18:49:53,NaN,nan,NaN,nan,37.809768,-122.409797,37.807558,-122.421638,member
150099,,,2019-12-26 14:25:37,2019-12-26 14:43:02,NaN,nan,NaN,nan,37.810183,-122.410271,37.807225,-122.408850,member
150100,,,2019-12-30 20:35:43,2019-12-30 20:41:09,NaN,nan,NaN,nan,37.810471,-122.417386,37.803143,-122.414373,member
150101,,,2019-12-31 19:26:48,2019-12-31 20:33:52,NaN,nan,NaN,nan,37.811042,-122.418149,37.810970,-122.418054,member

In [36]:
df_dez_2020 = df_dez_2020[['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual']]
df_dez_2020

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,3D9845E1B2804C08,electric_bike,2020-12-26 10:19:34,2020-12-26 10:22:27,NaN,NaN,NaN,NaN,37.770000,-122.450000,37.760000,-122.450000,member
1,F3DB8D3050725894,electric_bike,2020-12-06 12:28:33,2020-12-06 12:37:29,NaN,NaN,NaN,NaN,37.770000,-122.480000,37.770000,-122.450000,member
2,150C11B009DAD946,electric_bike,2020-12-15 09:35:57,2020-11-25 07:40:52,NaN,NaN,NaN,NaN,37.760000,-122.450000,37.780000,-122.420000,member
3,055A3F9E3CFAA764,electric_bike,2020-12-15 14:21:44,2020-12-15 14:32:55,NaN,NaN,NaN,NaN,37.790000,-122.420000,37.770000,-122.440000,member
4,77CB40EC8FEBC219,electric_bike,2020-12-08 13:05:29,2020-12-08 13:06:44,NaN,NaN,NaN,NaN,37.790000,-122.420000,37.790000,-122.420000,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106417,6CB07C6AFE6561BC,electric_bike,2020-12-28 07:19:19,2020-12-28 07:28:41,4th St at 16th St,SF-M30,Heron's Head Park,SF-V32,37.766976,-122.390798,37.740510,-122.376471,casual
106418,6EFCB11613F61FBC,electric_bike,2020-12-29 07:19:53,2020-12-29 07:31:16,4th St at 16th St,SF-M30,Heron's Head Park,SF-V32,37.766948,-122.390778,37.740531,-122.376482,casual
106419,D4DF4BFB58FF4834,electric_bike,2020-12-31 07:18:31,2020-12-31 07:28:16,4th St at 16th St,SF-M30,Heron's Head Park,SF-V32,37.766953,-122.390764,37.740469,-122.376532,casual
106420,BE4C1C553CD05D78,electric_bike,2020-12-18 07:11:10,2020-12-18 07:22:28,4th St at 16th St,SF-M30,Heron's Head Park,SF-V32,37.767099,-122.391054,37.740519,-122.376478,casual
106421,DBFEBC906EB8C857,electric_bike,2020-12-30 07:14:53,2020-12-30 07:25:47,4th St at 16th St,SF-M30,Heron's Head Park,SF-V32,37.766957,-122.390908,37.740578,-122.376466,casual

In [37]:
df_dez_2019.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [38]:
df_dez_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150102 entries, 0 to 150101
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             150102 non-null  object
 1   rideable_type       150102 non-null  object
 2   started_at          150102 non-null  object
 3   ended_at            150102 non-null  object
 4   start_station_name  129087 non-null  object
 5   start_station_id    150102 non-null  object
 6   end_station_name    128757 non-null  object
 7   end_station_id      150102 non-null  object
 8   start_lat           150102 non-null  float64
 9   start_lng           150102 non-null  float64
 10  end_lat             150102 non-null  float64
 11  end_lng             150102 non-null  float64
 12  member_casual       150102 non-null  object
dtypes: float64(4), object(9)
memory usage: 14.9+ MB

In [39]:
df_dez_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106422 entries, 0 to 106421
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             106422 non-null  object
 1   rideable_type       106422 non-null  object
 2   started_at          106422 non-null  object
 3   ended_at            106422 non-null  object
 4   start_station_name  78935 non-null   object
 5   start_station_id    78935 non-null   object
 6   end_station_name    76570 non-null   object
 7   end_station_id      76570 non-null   object
 8   start_lat           106422 non-null  float64
 9   start_lng           106422 non-null  float64
 10  end_lat             106311 non-null  float64
 11  end_lng             106311 non-null  float64
 12  member_casual       106422 non-null  object
dtypes: float64(4), object(9)
memory usage: 10.6+ MB

In [40]:
df_dez_2019.start_station_id.unique()

array(['364.0', '38.0', '14.0', '3.0', '104.0', '66.0', '383.0', '81.0',
       '462.0', '473.0', '267.0', '23.0', '399.0', '43.0', '446.0',
       '130.0', '22.0', '167.0', '58.0', '461.0', '123.0', '5.0', '34.0',
       '139.0', '375.0', '75.0', '356.0', '350.0', '44.0', '176.0',
       '200.0', '21.0', '250.0', '362.0', '201.0', '24.0', '323.0',
       '481.0', '37.0', '343.0', '53.0', '241.0', '127.0', '95.0',
       '370.0', '186.0', '191.0', '109.0', '195.0', '387.0', '9.0',
       '86.0', '385.0', '160.0', '47.0', '15.0', '166.0', '180.0', '13.0',
       '110.0', '30.0', '384.0', '256.0', '141.0', '92.0', '134.0',
       '440.0', '410.0', '226.0', '16.0', '10.0', '19.0', '221.0',
       '386.0', '415.0', '263.0', '8.0', '456.0', '122.0', '133.0',
       '144.0', '345.0', '115.0', '197.0', '269.0', '74.0', '4.0',
       '405.0', '17.0', '398.0', '105.0', '203.0', '482.0', '28.0',
       '315.0', '182.0', '50.0', '78.0', '193.0', '121.0', '411.0',
       '265.0', '240.0', '98.0', '12.0', '336.0', '158.0', '425.0',
       '419.0', '246.0', '6.0', '106.0', '114.0', '11.0', '223.0',
       '238.0', '126.0', '124.0', '277.0', '52.0', '7.0', '112.0',
       '131.0', '116.0', '87.0', '227.0', '337.0', '465.0', '284.0',
       '321.0', '445.0', '156.0', '90.0', '70.0', '77.0', '273.0', '76.0',
       '453.0', '190.0', '148.0', '196.0', '20.0', '316.0', '349.0',
       '27.0', '80.0', '159.0', '213.0', '355.0', '179.0', '218.0',
       '324.0', '168.0', '54.0', '129.0', '488.0', '369.0', '189.0',
       '216.0', '363.0', '468.0', '85.0', '56.0', '36.0', '486.0',
       '181.0', '371.0', '151.0', '84.0', '220.0', '255.0', '132.0',
       '88.0', '301.0', '93.0', '119.0', '247.0', '29.0', '258.0',
       '365.0', '108.0', '171.0', '60.0', '249.0', '309.0', '412.0',
       '59.0', '42.0', '187.0', '233.0', '208.0', '49.0', '147.0',
       '230.0', '89.0', '113.0', '245.0', '97.0', '271.0', '153.0',
       '423.0', '157.0', '259.0', '252.0', '372.0', '73.0', '254.0',
       '459.0', '306.0', '62.0', '99.0', '120.0', '39.0', '393.0',
       '477.0', '215.0', '455.0', '262.0', '487.0', '266.0', '100.0',
       '368.0', '71.0', '409.0', '142.0', '376.0', '338.0', '212.0',
       '454.0', '268.0', '202.0', '194.0', '107.0', '458.0', '427.0',
       '26.0', '125.0', '79.0', '460.0', '485.0', '311.0', '239.0',
       '396.0', '400.0', '270.0', '192.0', '41.0', '248.0', '145.0',
       '377.0', '441.0', '178.0', '102.0', '198.0', '210.0', '61.0',
       '251.0', '33.0', '204.0', '55.0', '467.0', '308.0', '380.0',
       '155.0', '431.0', '424.0', '490.0', '101.0', '339.0', '480.0',
       '244.0', '401.0', '150.0', '286.0', '493.0', '154.0', '72.0',
       '211.0', '173.0', '177.0', '205.0', '351.0', '294.0', '303.0',
       '183.0', '285.0', '175.0', '243.0', '483.0', '96.0', '341.0',
       '31.0', '149.0', '478.0', '373.0', '162.0', '219.0', '390.0',
       '495.0', '214.0', '231.0', '433.0', '291.0', '91.0', '498.0',
       '140.0', '276.0', '442.0', '63.0', '51.0', '234.0', '381.0',
       '25.0', '434.0', '361.0', '138.0', '172.0', '492.0', '232.0',
       '471.0', '253.0', '118.0', '439.0', '146.0', '207.0', '312.0',
       '188.0', '443.0', '169.0', '170.0', '152.0', '310.0', '281.0',
       '237.0', '280.0', '35.0', '426.0', '18.0', '236.0', '279.0',
       '174.0', '432.0', '257.0', '299.0', '470.0', '388.0', '340.0',
       '474.0', '137.0', '436.0', '359.0', '296.0', '438.0', '475.0',
       '297.0', '209.0', '403.0', '164.0', '274.0', '404.0', '300.0',
       '278.0', '463.0', '402.0', '289.0', '206.0', '225.0', '217.0',
       '413.0', '283.0', '292.0', '317.0', '417.0', '318.0', '313.0',
       '416.0', '287.0', '305.0', '314.0', '352.0', '378.0', '491.0',
       '489.0', '304.0', '466.0', '235.0', '357.0', '275.0', '298.0',
       '360.0', '394.0', '163.0', '295.0', '406.0', '395.0', '228.0',
       '46.0', '437.0', '392.0', '290.0', '358.0', '229.0', '397.0',
       '222.0', '327.0', '469.0', '389.0', '444.0', '418.0', '288.0',
       '282.0', '307.0', '407.0', '476.0', '472.0', '494.0', '224.0',
       '422.0', '391.0', '435.0', 'nan', '421.0'], dtype=object)

In [41]:
df_dez_2020.start_station_id.unique()

array([nan, 'BK-A7', 'OK-E2', 'OK-G2', 'SF-J28-2', 'SF-K25', 'SF-I23-1',
       'SF-K22-1', 'SF-N29', 'SF-M12', 'SJ-K10', 'SF-G26', 'SF-L21',
       'OK-K6', 'SJ-O9', 'SF-G7', 'SF-G25', 'SJ-M5', 'SF-Q22-1', 'SF-T21',
       'SF-J26', 'OK-C3', 'SF-H0', 'SF-Q21-1', 'SF-O24', 'SF-J16',
       'SF-P21', 'SF-G30-2', 'SF-H18', 'SF-W19', 'SF-H12', 'OK-L14',
       'SF-AA28', 'SF-L25', 'SF-M22-1', 'SF-A19', 'SF-L22', 'SF-J26-2',
       'SF-Q30', 'SF-J5', 'SF-L27', 'SF-F19', 'SF-H25', 'SJ-G10',
       'BK-D10', 'SF-S29', 'SF-J15', 'SF-G6', 'SF-K21', 'EM-D3', 'SF-O30',
       'SF-G27', 'SF-E29-1', 'SF-O21', 'SF-O30-2', 'SF-R20', 'SF-M26-2',
       'SF-S24', 'EM-A2', 'SF-G24', 'SF-S21', 'OK-D5', 'OK-M2', 'OK-M7',
       'OK-F3', 'OK-I8', 'SF-N22-1B', 'OK-B3', 'SF-V30', 'SF-S30',
       'OK-L7-2', 'SF-G11', 'BK-D2', 'EM-C1', 'SF-J3', 'BK-E8', 'SF-H14',
       'SF-X29', 'OK-L13', 'OK-L5', 'SF-E18', 'SJ-M7-1', 'BK-F10',
       'SJ-L9', 'OK-I5', 'SF-H13', 'OK-H9-1', 'SF-N27', 'OK-A2',
       'SF-C28-2', 'OK-A4', 'SF-I29-2', 'SF-Q23-3', 'SF-H26', 'SF-F15',
       'OK-D3-2', 'SF-F23', 'SJ-Q9', 'SF-H30', 'SF-G5', 'SF-M11',
       'SF-E29-2', 'SF-E28', 'SF-J25', 'OK-M6', 'SF-C22', 'SF-I16',
       'BK-F7', 'SF-O25-2', 'SF-G17', 'OK-K9', 'SF-J13', 'SF-F28-1',
       'SF-F16', 'SJ-O10', 'SJ-P9', 'OK-D2', 'BK-G7', 'SF I29-1',
       'SF-J21', 'SF-L19', 'SF-H15', 'SF-I26-', 'SF-E29-3', 'BK-H9',
       'SF-J1', 'SF-L30-1', 'OK-K7', 'SF-J10', 'SF-K30-2', 'SF-B28',
       'OK-J5', 'SF-J22-2', 'SF-K18', 'SF-M28', 'OK-M3', 'OK-F4',
       'SF-P30', 'OK-H4-3', 'SF-J24', 'SF-F28-2', 'SF-E28-2', 'SF-M22-2',
       'SF-C20', 'SF-E23', 'BK-A3', 'SF-C25', 'SF-Q22-2', 'SF-M21',
       'SF-M25', 'SJ-Q5', 'SJ-Q10', 'OK-K4', 'SJ-N6', 'OK-M1', 'SJ-K11',
       'SF-V32', 'OK-L16', 'SF-H19', 'SF-N23', 'SF-G10-1', 'SF-N25',
       'SF-R24', 'SF-P26', 'SF-C21', 'SJ-M11-3', 'OK-L8', 'SJ-M10-3',
       'SF-G19', 'SF-U21', 'SF-R26', 'SJ-I5', 'SF-X19', 'SF-W29', 'OK-L3',
       'SJ-N10-1', 'BK-C5', 'SF-B25', 'SF-H26-2', 'SF-V31', 'OK-H2',
       'OK-L11', 'BK-D5', 'SJ-M11-1', 'OK-C2', 'SJ-H17', 'SF-K28-3',
       'OK-K2', 'SJ-Q4', 'OK-J6-2', 'SJ-P7', 'BK-G9', 'SJ-E10', 'SJ-M9-2',
       'SJ-I14', 'OK-B5', 'SF-A27', 'OK-J3', 'SF-F29', 'SF-X14', 'SJ-H11',
       'SF-H20', 'SF-K23', 'SF-F30-2', 'SF-M10', 'SF-F30-1', 'OK-G4',
       'OK-E3', 'OK-B4', 'SF-Z7', 'EM-C3', 'OK-N7', 'BK-C1', 'SJ-L9-2',
       'SF-I28', 'SF-O19', 'SF-Y29', 'SJ-K6', 'SJ-M10-2', 'SF-I27',
       'BK-C8', 'SF-U30', 'SF-L31-1', 'SF-G8', 'SJ-M11-2', 'SJ-R11',
       'SF-BB17', 'SF-Z28', 'SJ-J12-2', 'SF-G10-2', 'SJ-L13', 'BK-F2',
       'SJ-I11', 'EM-B0-2', 'SF-A20', 'SJ-N5', 'SF-K27', 'OK-L6',
       'SF-O25-1', 'SF-K28', 'SF-Q26', 'SF-I25', 'SF-W19-2', 'SF-T20',
       'BK-E2', 'SF-N22-1A', 'SF-J19', 'SJ-H9', 'SF-H28', 'SJ-J8',
       'SF-D28', 'SF-M26', 'SF-G28-2', 'BK-B9', 'BK-E7', 'BK-C6',
       'SF-N24-2', 'SJ-P6', 'SJ-N12-1', 'OK-H5', 'SJ-M6', 'OK-K5-2',
       'SF-D24', 'OK-I3', 'SF-J18', 'BK-D7-1', 'SJ-N7', 'SF-X30',
       'OK-N17', 'BK-I6', 'SF-K17-2', 'OK-C4', 'SF-C26', 'SF-V29',
       'SF-G18', 'SF-K17', 'SF-L26', 'SF-K19', 'SF-F27', 'OK-D4', 'SF-Z6',
       'SJ-J10', 'BK-H3', 'SJ-Q11', 'SJ-N14', 'SF-I19', 'SF-J17',
       'SF-N22-2', 'SF-O23', 'SF-I21', 'SF-V28', 'SF-J23-1', 'SJ-P10',
       'SF-K22-2', 'SF-K26', 'SJ-L7-1', 'SF-G9', 'SJ-F10', 'OK-L6-2',
       'OK-L7', 'BK-G8', 'BK-D7-2', 'OK-J4', 'SJ-M8-2', 'SJ-M6-2',
       'OK-L10', 'OK-L19', 'OK-L4', 'EM-D2', 'SF-B28-2', 'SF-M27',
       'SF-F26', 'SF-B21', 'SJ-M4', 'SJ-N10-3', 'SJ-N9', 'OK-I9', 'SJ-E9',
       'SJ-G15', 'SJ-J11', 'SF-G29-1', 'OK-E4', 'SJ-J12-1', 'OK-K3',
       'BK-E9-2', 'SJ-O4', 'SJ-L12', 'SF-N21', 'SF-M15', 'SF-S22-1',
       'SF-K27-2', 'OK-H9-2', 'SF-E20', 'SF-P22', 'SF-O22', 'SF-L28',
       'SF-R19', 'SJ-H10', 'SF-N20-1', 'SF-J29', 'SF-L20', 'SF-J27',
       'SF-L29', 'SJ-K9', 'SF-H17', 'SF-H16', 'SF-G12', 'SJ-C9',
       'SJ-M10-4', 'SF-C28-1', 'SJ-M10-1', 'SJ-N5-2', 'SF-G13', 'SF-I30',
       'SF-P24', 'SF-G29-2', 'EM-B2', 'BK-E10', 'BK-I5', 'OK-B2', 'BK-H6',
       'SF-Y30', 'EM-B1', 'SF-J29-3', 'SF-L27-2', 'SF-J23-2', 'SF-W14',
       'SJ-J6', 'SF-AA15', 'SF-O12', 'SF-M13', 'OK-J6-1', 'BK-F8',
       'OK-I6', 'SJ-L7-2', 'SF-G23', 'SF-T22', 'SF-N28', 'SF-M24',
       'SF-B19', 'SF-O18', 'SF-Y25', 'SF-L24', 'SF-F9', 'SJ-K5', 'BK-H10',
       'OK-L9', 'SF-Z16', 'OK-G3', 'SJ-L10', 'SJ-L11', 'OK-L2', 'SF-K24',
       'SF-K20', 'SF-N26', 'SF-J29-1', 'SF-J20', 'SF-H27-1', 'BK-B7',
       'SF-I24', 'SF-J14', 'SF-K15-', 'SF-K29-1', 'EM-A1', 'SF-G29-3',
       'SJ-P8', 'SF-B22', 'SF-N20-2', 'SJ-I9', 'SF-Y27', 'EM-D4',
       'SF-Y14', 'SF-I23-2', 'OK-G5', 'SJ-J9', 'SF-G20', 'SF-D29',
       'SF-I20', 'SF-D27', 'EM-C2', 'SJ-D9', 'OK-M5', 'SF-I30-2', 'BK-G4',
       'SF-Q21-2', 'SF-M20', 'SJ-I10', 'SF-G30-1', 'SJ-O11', 'SJ-N11',
       'BK-E9-1', 'SF-S22-2', 'SF-W8', 'BK-C7', 'BK-D1', 'OK-L12',
       'SF-J12', 'SF-I22', 'SJ-N10-2', 'SJ-M14', 'SJ-Q8', 'BK-H8',
       'SF-J22-1', 'SF-E27', 'SJ-N14-2', 'SJ-M8', 'SF-M30', 'SF-H29',
       'OK-K5-1', 'BK-D4', 'OK-H3', 'OK-I4'], dtype=object)

In [42]:
# check the columns
df_dez_2020.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [43]:
# Save to csv, to work in Google colab
df_dez_2019.to_csv('df_dez_2019.csv')
df_dez_2020.to_csv('df_dez_2020.csv')

In [44]:
# df_dez_2019_2020 = pd.merge(df_dez_2019, df_dez_2020)
# df_dez_2019_2020.shape()

In [45]:
# drop unnamed column
df_dez_2020 = df_dez_2020.loc[:, ~df_dez_2020.columns.str.contains('^Unnamed')]
# df_dez_2020

In [46]:
# count unique values for start_station_id and end_station_id
df_dez_2020.start_station_name.nunique()

452

In [47]:
# count unique values for start_station_id and end_station_id
df_dez_2020.end_station_name.nunique()

456

In [48]:
# find the top values for start_station_id and end_station_id
df_dez_2020.start_station_name.value_counts(ascending=False)

Market St at 10th St                            1097
Powell St BART Station (Market St at 5th St)    1026
Market St at Dolores St                         1025
Fell St at Stanyan St                            958
Division St at Potrero Ave                       883
                                                ...
1st St at Younger Ave                              5
13th St at Webster St                              4
Foothill Blvd at Fruitvale Ave                     3
Bond St at High St                                 2
San Antonio Park                                   2
Name: start_station_name, Length: 452, dtype: int64

In [49]:
# find the top values for start_station_id and end_station_id
df_dez_2020.end_station_name.value_counts(ascending=False)

Powell St BART Station (Market St at 5th St)    1080
Market St at 10th St                            1046
Division St at Potrero Ave                      1006
Market St at Dolores St                          960
Fell St at Stanyan St                            913
                                                ...
Foothill Blvd at Fruitvale Ave                     3
23rd Ave at Foothill Blvd                          3
San Jose Depot                                     2
26th Ave at International Blvd                     2
Farnam St at Fruitvale Ave                         1
Name: end_station_name, Length: 456, dtype: int64

In [50]:
# pip install "haversine==2.2.0"   # didn't work

In [51]:
# !conda install -c conda-forge folium=0.5.0 --yes    # didn't work
# !pip install folium==0.5.0                          # didn't work
# !python3 -m pip install folium                      # didn't work

### Folium worked at Google Colab, but it was too slow.

In [52]:
# working with the dataset of Dezember 2020, rename it to df
# drop rows with nulls in end columns
df = df_dez_2020.dropna(subset=['end_lat', 'end_lng'])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 106311 entries, 0 to 106421
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             106311 non-null  object
 1   rideable_type       106311 non-null  object
 2   started_at          106311 non-null  object
 3   ended_at            106311 non-null  object
 4   start_station_name  78824 non-null   object
 5   start_station_id    78824 non-null   object
 6   end_station_name    76570 non-null   object
 7   end_station_id      76570 non-null   object
 8   start_lat           106311 non-null  float64
 9   start_lng           106311 non-null  float64
 10  end_lat             106311 non-null  float64
 11  end_lng             106311 non-null  float64
 12  member_casual       106311 non-null  object
dtypes: float64(4), object(9)
memory usage: 11.4+ MB

In [54]:
# # calculating distances of the trips
# df['distance'] = df.apply(lambda x: vincenty((x['start_lat'], x['start_lng']), (x['end_lat'], x['end_lng'])).m, axis=1)

I can't install some libraries in the environment,so I save the file to use at Google Colab

In [55]:
# save the file as csv to work in Google colab
df.to_csv(r'cleaned_df_dez_2020.csv', index = False)

In [ ]:
## another way to calculate the distance
# # calculation the distance start-end
# # testing with the first ride
# loc1=(37.770000,-122.450000)
# loc2=(37.760000,-122.450000)
# hs.haversine(loc1,loc2)

# from haversine import Unit
# #To calculate distance in meters 
# hs.haversine(loc1,loc2,unit=Unit.METERS)

In [ ]:
# # drop unnamed column
# df = df.loc[:, ~df2.columns.str.contains('^Unnamed')]
# #reorder with distance before member_casual:
# df = df[['ride_id', 'rideable_type', 'started_at', 'ended_at',
#        'start_station_name', 'start_station_id', 'end_station_name',
#        'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
#        'distance', 'member_casual']]

In [ ]:
# df.columns

In [ ]:
# df.head()

In [ ]:
# # continuing EDA
# df.describe()

In [ ]:
df.dtypes

In [ ]:
# # check for multicollinearity 
# corr_matrix=df.corr(method='pearson')  # default
# fig, ax = plt.subplots(figsize=(10, 8))
# ax = sns.heatmap(corr_matrix, annot=True)
# plt.show()

The results are obvious, since people takes the bike where it was returned and vice versa.

In [ ]:
# sns.displot(df['distance'])
# plt.show()

The distribution left skewed, so the mean is less than the median; the median is closer to the third quartile than to the first quartile. Also, we can see outliers. The stretches traveled during the trips are generally short.

In [ ]:
# ## checking all the categorical columns
# cols_cat = list(df.select_dtypes(include=['object']).columns)

# for col in cols_cat:
#     print("Frequency analysis of column: ",col)
#     my_data = df2[col].value_counts().reset_index()
#     ax = sns.barplot(x=col, y="index", data = my_data).set_title(col.upper())
#     plt.figure()
#     print

References:
https://towardsdatascience.com/geopandas-101-plot-any-data-with-a-latitude-and-longitude-on-a-map-98e01944b972