## continued 2

### Working in Jupyter Notebook again

In [14]:
#  import packages
import pandas as pd
import numpy as np
# import haversine as hs
# import folium
import matplotlib.pyplot as plt
import seaborn as sns 
# from geopy.distance import vincenty
from datetime import datetime, date

In [15]:
# import the dataset
df = pd.read_csv('cleaned2_df_dez_2020.csv')

In [18]:
# remove unnamed column
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.head()

,ride_id,rideable_type,weekday_started,started_at,ended_at,travel_time,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,distance,member_casual
0,3D9845E1B2804C08,electric_bike,Saturday,2020-12-26 10:19:34,2020-12-26 10:22:27,0.048056,NaN,NaN,NaN,NaN,37.77,-122.45,37.76,-122.45,1109.920344,member
1,F3DB8D3050725894,electric_bike,Sunday,2020-12-06 12:28:33,2020-12-06 12:37:29,0.148889,NaN,NaN,NaN,NaN,37.77,-122.48,37.77,-122.45,2643.182050,member
2,055A3F9E3CFAA764,electric_bike,Tuesday,2020-12-15 14:21:44,2020-12-15 14:32:55,0.186389,NaN,NaN,NaN,NaN,37.79,-122.42,37.77,-122.44,2834.070063,member
3,FC9BAB0F257F541F,electric_bike,Monday,2020-12-14 06:53:37,2020-12-14 07:04:46,0.185833,NaN,NaN,NaN,NaN,37.78,-122.45,37.79,-122.42,2866.272861,member
4,B28ED716DEC58A7B,electric_bike,Sunday,2020-12-13 01:22:32,2020-12-13 01:37:50,0.255000,NaN,NaN,NaN,NaN,37.77,-122.49,37.78,-122.45,3694.663906,member

### Create a file to use in Tableau (I didn't use, in the end)

In [22]:

lat_long_df = df[['start_lat', 'start_lng']]
lat_long_df.head()

   start_lat  start_lng
0      37.77    -122.45
1      37.77    -122.48
2      37.79    -122.42
3      37.78    -122.45
4      37.77    -122.49

In [31]:
lat_long_df.columns = ['latitude', 'longitude']
# lat_long_df.head()
lat_long_df.to_csv('lat_lng_start.csv', index=False)