# Lyft - US

In [8]:
import pandas as pd

In [9]:
# dez_2019 = 'data/lyft-USA/201912-baywheels-tripdata.csv'
dez_2020 = 'data/lyft-USA/202012-baywheels-tripdata.csv'

In [10]:
# df_dez_2019= pd.read_csv(dez_2019)
# df_dez_2019

In [11]:
df= pd.read_csv(dez_2020)
df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,3D9845E1B2804C08,electric_bike,2020-12-26 10:19:34,2020-12-26 10:22:27,NaN,NaN,NaN,NaN,37.770000,-122.450000,37.760000,-122.450000,member
1,F3DB8D3050725894,electric_bike,2020-12-06 12:28:33,2020-12-06 12:37:29,NaN,NaN,NaN,NaN,37.770000,-122.480000,37.770000,-122.450000,member
2,150C11B009DAD946,electric_bike,2020-12-15 09:35:57,2020-11-25 07:40:52,NaN,NaN,NaN,NaN,37.760000,-122.450000,37.780000,-122.420000,member
3,055A3F9E3CFAA764,electric_bike,2020-12-15 14:21:44,2020-12-15 14:32:55,NaN,NaN,NaN,NaN,37.790000,-122.420000,37.770000,-122.440000,member
4,77CB40EC8FEBC219,electric_bike,2020-12-08 13:05:29,2020-12-08 13:06:44,NaN,NaN,NaN,NaN,37.790000,-122.420000,37.790000,-122.420000,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106417,6CB07C6AFE6561BC,electric_bike,2020-12-28 07:19:19,2020-12-28 07:28:41,4th St at 16th St,SF-M30,Heron's Head Park,SF-V32,37.766976,-122.390798,37.740510,-122.376471,casual
106418,6EFCB11613F61FBC,electric_bike,2020-12-29 07:19:53,2020-12-29 07:31:16,4th St at 16th St,SF-M30,Heron's Head Park,SF-V32,37.766948,-122.390778,37.740531,-122.376482,casual
106419,D4DF4BFB58FF4834,electric_bike,2020-12-31 07:18:31,2020-12-31 07:28:16,4th St at 16th St,SF-M30,Heron's Head Park,SF-V32,37.766953,-122.390764,37.740469,-122.376532,casual
106420,BE4C1C553CD05D78,electric_bike,2020-12-18 07:11:10,2020-12-18 07:22:28,4th St at 16th St,SF-M30,Heron's Head Park,SF-V32,37.767099,-122.391054,37.740519,-122.376478,casual
106421,DBFEBC906EB8C857,electric_bike,2020-12-30 07:14:53,2020-12-30 07:25:47,4th St at 16th St,SF-M30,Heron's Head Park,SF-V32,37.766957,-122.390908,37.740578,-122.376466,casual

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106422 entries, 0 to 106421
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             106422 non-null  object
 1   rideable_type       106422 non-null  object
 2   started_at          106422 non-null  object
 3   ended_at            106422 non-null  object
 4   start_station_name  78935 non-null   object
 5   start_station_id    78935 non-null   object
 6   end_station_name    76570 non-null   object
 7   end_station_id      76570 non-null   object
 8   start_lat           106422 non-null  float64
 9   start_lng           106422 non-null  float64
 10  end_lat             106311 non-null  float64
 11  end_lng             106311 non-null  float64
 12  member_casual       106422 non-null  object
dtypes: float64(4), object(9)
memory usage: 10.6+ MB

In [13]:
# print the sum of null values 
print(df.isnull().sum())

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name    27487
start_station_id      27487
end_station_name      29852
end_station_id        29852
start_lat                 0
start_lng                 0
end_lat                 111
end_lng                 111
member_casual             0
dtype: int64

In [19]:
# how much is 20% of miss values?
max_null_values = 106422*.2
max_null_values

21284.4

The columns start_station_name, start_station_id, end_station_name, end_station_id has too manu nulls, buit I am not droping them, because their analysis can be interesting

0.2582830617729417

0.28050591043205353